{% extends 'registration/base.html' %}
{% block body %}
        
<center>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <a class="alert-{{ message.tags }}">{{ message }}</a>
            {% endfor %}
        </ul>
    {% endif %}
<h2>Login</h2>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form><br>
<p>Don't have an account? <a href="{% url 'cart:signup' %}">Sign up</a></p>
</center>
{% endblock %}
