<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% load humanize %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{{category}}</title>
    <link rel="icon" href="{% static 'blog/images.png' %}" type="image/png">
  </head>
  <body style="background-color:rgb(173, 166, 180)">


 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(13, 0, 192, 0.37)">
      <a class="navbar-brand" href="/"><img src="{% static 'blog/images.png' %}" height=20>Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact us/">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Sub Categories
            </a>
            <div class="dropdown-menu">
            {% for product, range, nSlides in allProds %}
              <a class="dropdown-item" href="/sub category/{{product.0.sub_category}}">{{product.0.sub_category}}</a>
            {% endfor %}
            </div>
          </li>
            <li style="position: absolute; right: 20px">
              <a class="nav-link" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Cart</a>
            </li>
            <a href="/cart/">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body" style="width: 300px; margin-top: 35px; position: absolute; right: 30px">
                      This is cart
                  </div>
                </div>
              </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav><br><br>

    <style>
      .col-md-3
      {
      display: inline-block;
      margin-left:-4px;
      }


      .col-md-3 img{

      width: 170px;
      height: 200px;
      }



      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
      background-color: black;
      }

      .carousel-control-prev{
        top: auto;
        bottom: auto;
        padding-top: 222px;
        width: 2rem;
        }
      .carousel-control-next{
      top: auto;
      bottom: auto;
      padding-top: 222px;
      width: 2rem;
      }
       body .no-padding{
       padding-left: 0,
       padding-right: 0;
       }

      .carousel-indicators li {
        background-color:rgb(35, 59, 139);
      }
    
      .carousel-indicators .active {
        background-color: #000000;
      }
      
      a {
        color:rgb(0, 0, 0);
        text-decoration: none;
      }
      
      a:hover {
        color:rgb(57, 80, 105);
        text-decoration: underline;
      }
      
    

      
  </style>


</head>

<body>



<div class="container">
  <div id="demo" class="carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
  {% for i in range %}
     <li data-target="#demo" data-slide-to="{{i}}" ></li>
  {% endfor %}
</ul>



<div class="container">
  <center><h3 class="my-4"><a href="/">Category</a> → {{ category }}</h3></center>
  <hr class="my-5" style="border:1px solid black">
  {% for product, range, nSlides in allProds %}
  {% if product.0.category == category %}
  <h3 class="my-4"><a href="/sub category/{{product.0.sub_category}}">{{product.0.sub_category}}</a></h3>
  <div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

     {% for i in range %}
    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
    {% endfor %}
  </ul>


  <div class="container carousel-inner no-padding">

    <div class="carousel-item active">


      {% for i in product %}
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="height: 31rem; background-color: rgb(173, 166, 180);">
          <a href="/product/{{i.id}}">
          {% if not i.number_of_stock %}
          <img src='/media/{{i.image}}' class="d-block w-100" style="display: block; margin: 0 auto; vertical-align: middle; filter: brightness(30%)">
          <div class="card-img-overlay">
          <p class="card-text" style="color:rgb(225, 225, 225); margin-top: 2rem; text-align: center; font-size: 40px">Sold out</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{i.product_name|truncatechars:25}}</h5>
            <p class="card-text" style="color:rgba(6, 6, 56, 0.65)">{{i.description|truncatechars:50}}...</p>
          </a>
          <hr>
          <p class="card-text" style="color:rgba(0, 0, 0, 0.65)">Price: <b>₹{{i.price|intcomma}}</b></p>
          <hr>
            <span class="badge badge-secondary">Arriving Soon</span>
          </div>
        </div>
      </div>
          {% else %}
          <img src='/media/{{i.image}}' class="d-block w-100" style="display: block; margin: 0 auto; vertical-align: middle">
          <div class="card-body">
            <h5 class="card-title">{{i.product_name|truncatechars:25}}</h5>
            <p class="card-text" style="color:rgba(6, 6, 56, 0.65)">{{i.description|truncatechars:50}}...</p>
          </a>
          <hr>
          <p class="card-text" style="color:rgba(0, 0, 0, 0.65)">Price: <b>₹{{i.price|intcomma}}</b></p>
          <hr>
            <button id="pr{{i.id}}" class="btn btn-secondary cart">Add To Cart</button>
            <span class="badge badge-secondary">Stock: {{i.number_of_stock}}</span>
          </div>
        </div>
      </div>
          {% endif %}

      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
    </div><div class="carousel-item">
      {% endif %}

      {% endfor %}
  </div>



</div>
</div>



  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
      </div>
    <hr class="my-5" style="border:1px solid black">
    {% endif %}
  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/">Previous</a></li>
    </ul>
  </nav>
</div>



      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  
  </body>


  <link rel="icon" href="{% static 'blog/images.png' %}" type="image/png">
</html>



