{% extends "blog/basic.html" %}

{% block title %}{{product.product_name}}{% endblock %}

{% block body %}
{% load static %}
{% load humanize %}
{% load cart_extras %}

<style>

  #atc {
    background-color:rgb(56, 81, 165);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 150px;
  }

  #atc:hover {
    background-color:rgb(33, 48, 97);
  }

  #plus {
    background-color:rgb(56, 81, 165);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin-left: 0.62rem;
  }

  #plus:hover {
    background-color:rgb(33, 48, 97);
  }

  #minus {
    background-color:rgb(165, 56, 56);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin-right: 0.62rem;
  }

  #minus:hover {
    background-color:rgb(97, 33, 33);
  }

  #trash {
    background-color:rgb(165, 56, 56);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin-right: 0.62rem;
  }

  #trash:hover {
    background-color:rgb(97, 33, 33);
  }

</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{product.product_name}}</h1>
      <p class="lead">Price: ₹{{product.price|intcomma}}</p>
      <p class="lead">Category: <a href="/category/{{product.category}}">{{product.category}}</a>, Sub Category:<a href="/sub category/{{product.sub_category}}">{{product.sub_category}}</a></p>
      <div class="media">
        <a href="/media/{{product.image}}">
        <img src="/media/{{product.image}}" class="align-self-center mr-3" height=250>
        </a>
        <div class="media-body">
          <h4 class="mt-0">About this item:</h4>
          <p>{{product.description}}</p>
        </div>
      </div>
      <hr class="my-4">
      {% if product.number_of_stock %}
          {% with cart_quantity=cart_quantities|get_item:product.id %}
          {% if cart_quantity > 0 %}
            {% if cart_quantity == 1 %}
            <form action="{% url 'cart:remove_from_cart' product.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" id="trash">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
              </button>
            </form>
            {% else %}
            <form action="{% url 'cart:remove_from_cart' product.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" id="minus">−</button>
            </form>
            {% endif %}
            <span style="font-size:1.5rem">{{ cart_quantity }}</span>
            {% if cart_quantity < product.max_order_quantity %}
            <form action="{% url 'cart:add_to_cart' product.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" id="plus">+</button>
            </form>
            {% else %}(max)
            {% endif %}

          {% else %}
            <form action="{% url 'cart:add_to_cart' product.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="quantity" value="1">
              <button type="submit" id="atc">Add To Cart</button>
            </form>
          {% endif %}
          <span class="badge badge-dark" style="margin-right: 50px">Stock left:{{product.number_of_stock}}</span>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Quantity
            </button>
            <div class="dropdown-menu">
              {% for i in quantity_range %}
                <a class="dropdown-item" href="#">{{i}}</a>
              {% endfor %}
            </div>

          {% endwith %}
      {% else %}

              {% with cart_quantity=cart_quantities|get_item:product.id %}
              {% if cart_quantity > 0 %}
                {% if cart_quantity == 1 %}
                <form action="{% url 'cart:remove_from_cart' product.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" id="trash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </button>
                </form>
                {% else %}
                <form action="{% url 'cart:remove_from_cart' product.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" id="minus">−</button>
                </form>
                {% endif %}
                <span style="font-size:1.5rem">{{ cart_quantity }}</span>
                {% endif %}
              {% endwith %}

      <span class="badge badge-dark">Arriving Soon</span>
      {% endif %}
    </div>
  </div>




{% endblock %}




