<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% load humanize %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{{category}}/{{sub_category}}</title>
    <link rel="icon" href="{% static 'blog/images.png' %}" type="image/png">
  </head>
  <body style="background-color:rgb(173, 166, 180)">


 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(13, 0, 192, 0.37)">
      <a class="navbar-brand" href="/"><img src="{% static 'blog/images.png' %}" height=20>Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact us/">Contact Us</a>
          </li>
          </li>
            <li style="position: absolute; right: 20px">
              <a class="nav-link" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Cart</a>
            </li>
            <a href="/cart/">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body" style="width: 300px; margin-top: 35px; position: absolute; right: 30px">
                      This is cart
                  </div>
                </div>
              </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav><br><br>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  

    <style>
      .col-md-3
      {
      display: inline-block;
      margin-left: 20px;
      }


      .col-md-3 img{

      width: 170px;
      height: 200px;
      }

      a {
        color:rgb(0, 0, 0);
        text-decoration: none;
      }
      
      a:hover {
        color:rgb(57, 80, 105);
        text-decoration: underline;
      }

      .card{
        overflow: hidden
      }

    </style>
  <body>
    <div class="container">
      <center><h3 class="my-4"><a href="/category/{{category}}">{{ category}}</a> → {{ sub_category }}</h3></center>
    <hr class="my-5" style="border:1px solid black">
      {% for i in products %}
        {% if forloop.counter|add:"1"|divisibleby:2 %}
          <div class="row mb-4 justify-content-center">
        {% endif %}
    
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="background-color: rgb(173, 166, 180); height: 31rem">
            <a href="/product/{{i.id}}">
              {% if not i.number_of_stock %}
              <img src="/media/{{i.image}}" class="d-block w-100" style="display: block; margin: 0 auto; vertical-align: middle; filter: brightness(30%)">
              <div class="card-img-overlay">
                <p class="card-text" style="color:rgb(225, 225, 225); margin-top: 2rem; text-align: center; font-size: 40px">Sold Out</p>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{i.product_name|truncatechars:25}}</h5>
                <p class="card-text" style="color:rgba(6, 6, 56, 0.65)">{{i.description|truncatechars:50}}...</p>
              </a>
                        <hr>
          <p class="card-text" style="color:rgba(0, 0, 0, 0.65)">Price: <b>₹{{i.price|intcomma}}</b></p>
              <hr>
                <span class="badge badge-secondary">Arriving Soon</span>
              </div>
            </div>
          </div>
              {% else %}
              <img src="/media/{{i.image}}" class="d-block w-100" tyle="display: block; margin: 0 auto; vertical-align: middle">
              <div class="card-body">
                <h5 class="card-title">{{i.product_name|truncatechars:25}}</h5>
                <p class="card-text" style="color:rgba(6, 6, 56, 0.65)">{{i.description|truncatechars:50}}...</p>
              </a>
              <hr>
              <p class="card-text" style="color:rgba(0, 0, 0, 0.65)">Price: <b>₹{{i.price|intcomma}}</b></p>
              <hr>
                <button id="pr{{i.id}}" class="btn btn-secondary cart">Add To Cart</button>
                <span class="badge badge-secondary">Stock: {{i.number_of_stock}}</span>
              </div>
            </div>
          </div>
              {% endif %}
    
        {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
          </div>
        {% endif %}
      {% endfor %}

    </div>
    <hr class="my-5" style="border:1px solid black">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/category/{{category}}">Previous</a></li>
      </ul>
    </nav>    

  </body>
</html>





